name : Branch head Prerelease Images

on:
  push:
    branches:
      - main
      - release/v[0-9]+.(0|x)
      - release/v[0-9]+.[0-9]+.(0|x)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REPO_OWNER: rancher
  IMAGE_NAME: scc-operator

permissions:
  contents: write

jobs:
  push:
    permissions:
      contents : read
      id-token: write
    name : Build and push SCC-operator images
    runs-on: ubuntu-latest
    steps:
      - name : Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set Branch Tag and Other Variables
        id: set-vars
        run: bash ./.github/scripts/branch-tags.sh >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Load Secrets from Vault
        uses: rancher-eio/read-vault-secrets@main
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials username | DOCKER_USERNAME ;
            secret/data/github/repo/${{ github.repository }}/dockerhub/rancher/credentials password | DOCKER_PASSWORD

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ env.DOCKER_USERNAME || vars.DOCKER_USERNAME || github.repository_owner }}
          password: ${{ env.DOCKER_PASSWORD || secrets.DOCKER_PASSWORD }}

      - name: Build and push SCC-operator (branch head) image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          file: ./package/Dockerfile
          build-args: |
            TAG=${{ steps.set-vars.outputs.branch_static_tag }}
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ vars.REPO_OWNER || env.REPO_OWNER || github.repository_owner }}/${{ vars.IMAGE_NAME || env.IMAGE_NAME }}:${{ steps.set-vars.outputs.branch_static_tag }}
            ${{ vars.REPO_OWNER || env.REPO_OWNER || github.repository_owner }}/${{ vars.IMAGE_NAME || env.IMAGE_NAME }}:${{ steps.set-vars.outputs.branch_tag }}
